//- Data Card Component
mixin dataCard(key, item)
  .data-card
    .data-card-header
      h3.data-card-title
        | #{locale.data[key]}
        span.unit-label  (#{locale.units[item.unit] || item.unit})
    .data-card-body
      .data-row
        .data-label= locale.regions.china
        .data-value.china-value #{item.china}
      .data-row
        .data-label= locale.regions.restOfWorld
        .data-value #{item.restOfWorld}
      .data-row
        .data-label= locale.regions.world
        .data-value #{item.world}
    .data-card-footer
      span.source= locale.source.source + ': ' + item.source + ' (' + item.year + ')'

//- Agriculture Sub Card
mixin agricultureCard(key, item)
  .data-card
    .data-card-header
      h3.data-card-title
        | #{locale.data[key]}
        span.unit-label  (#{locale.units[item.unit] || item.unit})
    .data-card-body
      .data-row
        .data-label= locale.regions.china
        .data-value.china-value #{item.china}
      .data-row
        .data-label= locale.regions.restOfWorld
        .data-value #{item.restOfWorld}
      .data-row
        .data-label= locale.regions.world
        .data-value #{item.world}
    .data-card-footer
      span.source= locale.source.source + ': ' + item.source + ' (' + item.year + ')'

//- Transportation Sub Card
mixin transportCard(key, item)
  .data-card
    .data-card-header
      h3.data-card-title
        | #{locale.data[key]}
        span.unit-label  (#{locale.units[item.unit] || item.unit})
    .data-card-body
      .data-row
        .data-label= locale.regions.china
        .data-value.china-value #{item.china.toLocaleString()}
      .data-row
        .data-label= locale.regions.restOfWorld
        .data-value #{item.restOfWorld.toLocaleString()}
      .data-row
        .data-label= locale.regions.world
        .data-value #{item.world.toLocaleString()}
    .data-card-footer
      span.source= locale.source.source + ': ' + item.source + ' (' + item.year + ')'
