//- Main Index Template
doctype html
html(lang=currentLocale)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content=locale.site.description)
    title= locale.site.title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', type='image/svg+xml', href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🌏</text></svg>')
    script.
      // Set default locale before page loads
      var currentLocale = "#{currentLocale}";
  body
    canvas#bg-canvas
    
    //- Include Header
    include header
    
    main.main-content
      .container
        //- Hero Section
        section.hero
          .hero-content
            h1.hero-title= locale.header.title
            p.hero-subtitle= locale.header.subtitle
            p.hero-description= locale.site.description
        
        //- Data Table Section
        section#data-table.section
          h2.section-title= locale.dataTable.dataTable
            button.btn-download.download-btn-top#downloadTableBtnTop= locale.dataTable.downloadImage
          .table-container
            table.data-table
              thead
                tr
                  th.table-header-url(colspan=7) #{window.location.href}
                tr
                  th= locale.dataTable.category || 'Category'
                  th= locale.regions.china
                  th(colspan=2)= locale.regions.china + ' %'
                  th= locale.regions.restOfWorld
                  th= locale.regions.world
                  th= locale.dataTable.year || 'Year'
              tbody
                each item in dataItems
                  - const itemData = getDataByPath(data, item.path);
                  - const itemLabel = locale.data[item.key];
                  - const percent = Math.round(itemData.china / itemData.world * 100);
                  tr
                    td.category
                      span #{itemLabel}
                      span.unit-label  (#{locale.units[itemData.unit] || itemData.unit})
                    td.china
                      span.value= itemData.china
                    td(colspan=2)
                      .percent-bar-container
                        .percent-bar(style='width:' + percent + '%')
                        span.percent-label= percent + '%'
                    td
                      span.value= itemData.restOfWorld
                    td
                      span.value= itemData.world
                    td= itemData.year
          .download-section
            button.btn-download#downloadTableBtn= locale.dataTable.downloadImage
        
        //- Share Section
        .share-section
          h3= locale.dataTable.share
          .a2a_kit.a2a_kit_size_32.a2a_default_style
            a.a2a_button_facebook
            a.a2a_button_twitter
            a.a2a_button_linkedin
            a.a2a_button_whatsapp
            a.a2a_button_telegram
            a.a2a_button_email
            a.a2a_button_weibo
            a.a2a_button_wechat
    
    //- Include Footer
    include footer

    //- Include Footer JS
    include footer-js
    script(src='/js/background.js')
